@{ ViewData["Title"] = "Agrobot en sus cultivos"; }

<div class="text-center">
    <h1 class="display-4">Agrobot "Robot Fertilizador"</h1>
</div>
<h2>¿QUE ES AGROBOT?</h2>
<p>
    El Proyecto AGROBOT, es un robot autónomo que fertiliza campos de cultivo,haciéndolo a la vez que transita entre los cultivos.
    Para fertilizar los campos usa el método de fertilización radicular localizado (aplicación directa al suelo en zonas específicas),
    haciendo uso de soluciones fertilizantes. Agrobot será un robot destinado a fertilizar campos de monocultivo,
    el cual se desplazará haciendo uso de un mapa virtual realizado con el sobrevuelo de un dron para escanear el terreno.
</p>
<h1>¿COMO SE HISO?</h1>

<p>Agrobot se creo usando el software de simulacion WetBots y el software visual studio, para la implementacion de la simulacion</p>
<img src="~/Img/visual_studio_2015.jpg" width="300" height="300" />
<img src="~/Img/webots.jpg" width="300" height="300" />
<p>
    En un principio se realizo una pequeña investigacion, para conocer si ya existian proyectos parecidos y tambiem
    para saber como recrear un modelo eficiente para la distribucion y almacenamiento de fertilizante.
</p>
<img src="~/Img/agro logo.jpg" id="logo" width="900" height="300" />