@{
    ViewData["Title"] = "¿Como se hizo?";
}
<h1>@ViewData["Title"]</h1>

<p>Agrobot se creo usando el software de simulacion WetBots y el software visual studio, para la implementacion de la simulacion</p>
<img src="~/Img/visual_studio_2015.jpg" width="300" height="300"/>
<img src="~/Img/webots.jpg" width="300" height="300"/>
<p>
    En un principio se realizo una pequeña investigacion, para conocer si ya existian proyectos parecidos y tambiem
    para saber como recrear un modelo eficiente para la distribucion y almacenamiento de fertilizante.
</p>
<img src="~/Img/agro logo.jpg" id="logo" width="900" height="300"/>