@model IEnumerable<Agrobot1.Models.parte>

@{
    ViewData["Title"] = "Que es agrobot";
}

<h1>¿QUE ES AGROBOT?</h1>
<p>
El Proyecto AGROBOT, es un robot autónomo que fertiliza campos de cultivo,haciéndolo a la vez que transita entre los cultivos.
Para fertilizar los campos usa el método de fertilización radicular localizado (aplicación directa al suelo en zonas específicas),
haciendo uso de soluciones fertilizantes. Agrobot será un robot destinado a fertilizar campos de monocultivo,
el cual se desplazará haciendo uso de un mapa virtual realizado con el sobrevuelo de un dron para escanear el terreno.
</p>

